# Настройки для всех файлов
[*]
indent_style = space # Использовать пробелы для отступов
indent_size = 2 # Размер отступа - 4 пробела
end_of_line = lf # Конец строки - LF (Line Feed)
charset = utf-8 # Кодировка - UTF-8
trim_trailing_whitespace = true # Удаление пробелов в конце строк
insert_final_newline = true # Добавление новой строки в конце файла

# Настройки для файлов .js
[*.js]
indent_size = 2 # Отступ для JavaScript - 2 пробела